<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSR</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
  </head>
  <body>
    <div
      class="flex min-h-full mt-10 justify-center px-4 py-12 sm:px-6 lg:px-8"
    >
      <div class="w-full max-w-sm space-y-10">
        <div>
          <img class="mx-auto h-20 w-auto" src="/logo.png" alt="Psyduck" />
          <h2
            class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
          >{{message}}</h2>
        </div>

      </div>
    </div>
  </body>
</html>